# The swap files from Vim or other editors
.*.sw*
*~
*.vim

# All made files
*.d
*.o
*.eep
*.elf
*.bin
*.hex
*.lss
*.sym
*.map

# Temporary LUFA directory
*/LUFA/
!LUFA-130303/LUFA/

# ctags files
tags
cscope.*
